body {
    background-image: linear-gradient(to bottom, #efeee4, #f5f5ef);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 10em;
    max-height: 10em;
    padding: 1px;
}


.logo h1 {
    font-family: Helvetica, system-ui-serif, serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #202124;
    margin-top: 10px;
    font-feature-settings:
        "pnum" on,
        "lnum" on,
        "ss01" on,
        "case" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.search-container {
    text-align: center;
}

.search-container input[type="text"] {
    width: 100%;
    max-width: 25em;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #d8d8d2;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background-color: #f8f8f7;
    color: #202124;
    padding: 15px 20px 15px 40px;
    font-family: sans-serif;
}

.search-container button[type="submit"] {
    width: 100%;
    max-width: 25em;
    background-color: #ba5b37;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
}

.search-container button[type="submit"]:hover {
    background-color: #ce673d;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
        format("woff2");
}

.footer-link {
    display: inline-block;
    color: #202124;
    text-decoration: none;
    font-family: monospace, sans-serif;
    font-feature-settings:
        "pnum" on,
        "lnum" on,
        "ss01" on,
        "case" on;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    transition: background-color 0.3s ease;
}

.footer-link:hover {
    color: #45494d;
}

footer {
    background-color: #f5f5ef;
    text-align: center;
    font-family: sans-serif;
}

/* Styles for times.html */
h1 {
    font-family: Helvetica, system-ui-serif, serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #202124;
    text-align: center;
    margin-top: 20px;
    font-feature-settings:
        "pnum" on,
        "lnum" on,
        "ss01" on,
        "case" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #202124;
    text-align: center;
    margin-top: 10px;
}

h3 {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #202124;
    text-align: center;
    margin-top: 10px;
}

p {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #202124;
    text-align: center;
    margin-top: 10px;
}

p2 {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #202124;
    text-align: center;
}

.dates {
    margin-top: 10px;
    text-align: center;
}

.dates1 {
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: #202124;
    border: 1px solid #d8d8d2;
    border-radius: 10px;
    overflow: hidden;
}

.table-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.shabbat-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: #202124;
    border: 1px solid #d8d8d2;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d8d8d2;
}

th {
    background-color: #f5f5ef;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f8f8f7;
}

tr:last-child td {
    border-bottom: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -10px;
}

.arrow-button {
    background-color: #ba5b37;
    border: none;
    color: white;
    padding: 3px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.arrow-button i {
    vertical-align: middle;
}

/* Styles for info.html */
.content-container {
    background-color: #f5f4ef;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media screen and (max-width: 30em) {
    .logo img {
        max-width: 8em;
        max-height: 8em;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .search-container input[type="text"] {
        font-size: 0.9rem;
        padding: 1em 1.2em 1em 2.5em;
    }

    .search-container button[type="submit"] {
        font-size: 0.9rem;
        padding: 1em 1.2em;
    }

    h1 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    table {
        font-size: 0.9rem;
    }

    th,
    td {
        padding: 10px;
    }
