<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>City Search</title>
</head>
<body>
    <main>
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
                <h1>Search for your city</h1>
            </div>
        </header>
        <div class="search-container">
            <form action="/search" method="GET" id="search-form">
                <input type="text" name="query" id="query" placeholder="Search for a city..." list="cities">
                <datalist id="cities">
                    {% for city in cities %}
                        <option value="{{ city }}">
                    {% endfor %}
                </datalist>
                <button type="submit">Search</button>
            </form>
        </div>
    </main>

    <footer>
        <a class="footer-link" href="https://github.com/Sir-Goose">
            <p>Matthew Allison GitHub</p>
        </a>
    </footer>

    <script>
        document.getElementById('search-form').addEventListener('submit', function(event) {
            var input = document.getElementById('query');
            var datalist = document.getElementById('cities');
            var options = datalist.options;

            for (var i = 0; i < options.length; i++) {
                if (options[i].value.toLowerCase().startsWith(input.value.toLowerCase())) {
                    input.value = options[i].value;
                    break;
                }
            }
        });
    </script>
</body>
</html>