<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <title>Calculation Methodology</title>
    </head>
    <body>
        <h1><a href="{{ url_for('home') }}">Calculation Methodology</a></h1>
        <main>
            <header></header>
            <div class="content-container">
                <section></section>
                <section id="dawn">
                    <h2>Dawn (Alot Hashachar)</h2>
                    <p>{{ dawn }}</p>
                </section>
                <section id="earliest_tallit">
                    <h2>Earliest Tallit and Tefillin (Misheyakir)</h2>
                    <p>{{ earliest_tallit }}</p>
                </section>
                <section id="sunrise">
                    <h2>Sunrise (Hanetz Hachamah)</h2>
                    <p>{{ sunrise }}</p>
                </section>
                <section id="latest_shema">
                    <h2>Latest Shema</h2>
                    <p>{{ latest_shema }}</p>
                </section>
                <section id="latest_shacharit">
                    <h2>Latest Shacharit</h2>
                    <p>{{ latest_shacharit }}</p>
                </section>
                <section id="midday">
                    <h2>Midday (Chatzot Hayom)</h2>
                    <p>{{ midday }}</p>
                </section>
                <section id="earliest_mincha">
                    <h2>Earliest Mincha (Mincha Gedolah)</h2>
                    <p>{{ earliest_mincha }}</p>
                </section>
                <section id="mincha_ketanah">
                    <h2>Mincha Ketanah ("Small Mincha")</h2>
                    <p>{{ mincha_ketanah }}</p>
                </section>
                <section id="plag_hamincha">
                    <h2>Plag Hamincha ("Half of Mincha")</h2>
                    <p>{{ plag_hamincha }}</p>
                </section>
                <section id="candle_lighting">
                    <h2></h2>
                    <p>{{ candle_lighting }}</p>
                </section>
                <section id="sunset">
                    <h2>Sunset (Shkiah)</h2>
                    <p>{{ sunset }}</p>
                </section>
                <section id="nightfall">
                    <h2>Nightfall (Tzeit Hakochavim)</h2>
                    <p>{{ nightfall }}</p>
                </section>
                <section id="midnight">
                    <h2>Midnight (Chatzot HaLailah)</h2>
                    <p>{{ midnight }}</p>
                </section>
                <section id="shaah_zmanit">
                    <h2>Shaah Zmanit (proportional hour)</h2>
                    <p>{{ shaah_zmanit }}</p>
                </section>
            </div>
        </main>
    </body>
</html>
