<!doctype html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename=get_file_hash('styles.css')) }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Zmanim - Halachic Times</title>
    </head>
    <body>
        <h1><a href="{{ url_for('home') }}">Zmanim - Halachic Times</a></h1>
        <h3>City: {{ city }}</h3>
        <div class="dates">
            <p2>{{ current_date_hebrew }}</p2>
        </div>
        <div class="dates1">
            <p2>{{ current_date_english }}</p2>
        </div>

        <div class="table-container">
            <div class="button-container">
                <form action="{{ url_for('update_offset') }}" method="POST">
                    <input type="hidden" name="city" value="{{ city }}" />
                    <input type="hidden" name="action" value="decrement" />
                    <input
                        type="hidden"
                        name="current_offset"
                        value="{{ session.get('date_offset', 0) }}"
                    />
                    <button class="arrow-button" type="submit">
                        <i class="material-icons">arrow_left</i>
                    </button>
                </form>
                <form action="{{ url_for('update_offset') }}" method="POST">
                    <input type="hidden" name="city" value="{{ city }}" />
                    <input type="hidden" name="action" value="reset" />
                    <input
                        type="hidden"
                        name="current_offset"
                        value="{{ session.get('date_offset', 0) }}"
                    />
                    <button class="arrow-button" type="submit">
                        <i class="material-icons">restart_alt</i>
                    </button>
                </form>
                <form action="{{ url_for('update_offset') }}" method="POST">
                    <input type="hidden" name="city" value="{{ city }}" />
                    <input type="hidden" name="action" value="increment" />
                    <input
                        type="hidden"
                        name="current_offset"
                        value="{{ session.get('date_offset', 0) }}"
                    />
                    <button class="arrow-button" type="submit">
                        <i class="material-icons">arrow_right</i>
                    </button>
                </form>
            </div>

            {% if is_friday or is_saturday %}
            <table class="shabbat-table">
                <tr>
                    <th>Shabbat</th>
                    <th>Time</th>
                </tr>
                {% if is_friday %}
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#candle_lighting"
                            >Candle Lighting</a
                        >
                    </td>
                    <td>{{ candle_lighting }}</td>
                </tr>
                {% endif %} {% if is_saturday %}
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#nightfall"
                            >Nightfall (Three Visible Stars)</a
                        >
                    </td>
                    <td>{{ nightfall }}</td>
                </tr>
                {% endif %}
            </table>
            {% endif %}

            <table>
                <tr>
                    <th>Zmanim</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#dawn"
                            >Dawn (Alot Hashachar)</a
                        >
                    </td>
                    <td>{{ dawn }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#earliest_tallit"
                            >Earliest Tallit and Tefillin (Misheyakir)</a
                        >
                    </td>
                    <td>{{ earliest_tallit }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#sunrise"
                            >Sunrise (Hanetz Hachamah)</a
                        >
                    </td>
                    <td>{{ sunrise }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#latest_shema"
                            >Latest Shema</a
                        >
                    </td>
                    <td>{{ latest_shema }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#latest_shacharit"
                            >Latest Shacharit</a
                        >
                    </td>
                    <td>{{ latest_shacharit }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#midday"
                            >Midday (Chatzot Hayom)</a
                        >
                    </td>
                    <td>{{ midday }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#earliest_mincha"
                            >Earliest Mincha (Mincha Gedolah)</a
                        >
                    </td>
                    <td>{{ earliest_mincha }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#mincha_ketanah"
                            >Mincha Ketanah ("Small Mincha")</a
                        >
                    </td>
                    <td>{{ mincha_ketana }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#plag_hamincha"
                            >Plag Hamincha ("Half of Mincha")</a
                        >
                    </td>
                    <td>{{ plag_hamincha }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#sunset"
                            >Sunset (Shkiah)</a
                        >
                    </td>
                    <td>{{ sunset }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#nightfall"
                            >Nightfall (Tzeit Hakochavim)</a
                        >
                    </td>
                    <td>{{ nightfall }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#midnight"
                            >Midnight (Chatzot HaLailah)</a
                        >
                    </td>
                    <td>{{ midnight }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('info') }}#shaah_zmanit"
                            >Shaah Zmanit (proportional hour)</a
                        >
                    </td>
                    <td>{{ shaah_zmanit }} minutes</td>
                </tr>
            </table>
        </div>
    </body>
</html>
